.2_4 { 
	overflow:hidden;
}.e2_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e2_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1440px;
	height:199px;
	position:absolute;
	left:0px;
	top:825px;
}.e2_10 { 
	background-color:rgba(125.74021562933922, 125.74021562933922, 125.74021562933922, 1);
	width:58px;
	height:6px;
	position:absolute;
	left:27px;
	top:59px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e2_12 { 
	background-color:rgba(125.74021562933922, 125.74021562933922, 125.74021562933922, 1);
	width:58px;
	height:6px;
	position:absolute;
	left:27px;
	top:44px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e2_13 { 
	background-color:rgba(125.74021562933922, 125.74021562933922, 125.74021562933922, 1);
	width:58px;
	height:6px;
	position:absolute;
	left:27px;
	top:29px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e2_14 { 
	color:rgba(125.74021562933922, 125.74021562933922, 125.74021562933922, 1);
	width:233px;
	height:50px;
	position:absolute;
	left:108px;
	top:22px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e2_21 { 
	color:rgba(125.74021562933922, 125.74021562933922, 125.74021562933922, 1);
	width:765px;
	height:150px;
	position:absolute;
	left:433px;
	top:131px;
	font-family:Inter;
	text-align:left;
	font-size:130px;
	letter-spacing:0;
}.e2_15 { 
	color:rgba(255, 108.72914403676987, 108.72914403676987, 1);
	width:233px;
	height:50px;
	position:absolute;
	left:341px;
	top:22px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e2_22 { 
	color:rgba(255, 108.72914403676987, 108.72914403676987, 1);
	width:498px;
	height:50px;
	position:absolute;
	left:433px;
	top:428px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e2_18 { 
	color:rgba(125.74021562933922, 125.74021562933922, 125.74021562933922, 1);
	width:422px;
	height:50px;
	position:absolute;
	left:938px;
	top:22px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e2_17 { 
	background-color:rgba(246.8541643023491, 246.8541643023491, 246.8541643023491, 1);
	width:65px;
	height:65px;
	position:absolute;
	left:1360px;
	top:15px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.2_17 { 
	border:1px solid rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
}.e2_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:331px;
	height:646px;
	position:absolute;
	left:35px;
	top:139px;
	border-top-left-radius:28px;
	border-top-right-radius:28px;
	border-bottom-left-radius:28px;
	border-bottom-right-radius:28px;
}.e2_23 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:331px;
	height:312px;
	position:absolute;
	left:1062px;
	top:155px;
	border-top-left-radius:28px;
	border-top-right-radius:28px;
	border-bottom-left-radius:28px;
	border-bottom-right-radius:28px;
}.e2_26 { 
	border-radius:500px;
	background-color:rgba(246.14583671092987, 176.06267094612122, 176.06267094612122, 1);
	width:222px;
	height:222px;
	position:absolute;
	left:1138px;
	top:206px;
}.e2_25 { 
	border-radius:500px;
	background-color:rgba(240.00000089406967, 150.0000062584877, 150.0000062584877, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:1098px;
	top:181px;
}.e2_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:984px;
	height:245px;
	position:absolute;
	left:409px;
	top:514px;
	border-top-left-radius:28px;
	border-top-right-radius:28px;
	border-bottom-left-radius:28px;
	border-bottom-right-radius:28px;
}